
body {
	background-image: linear-gradient(
        to bottom,
        silver,
    	rgba(17, 18, 96, 0.84) 50%
    );
	background-size: cover;
}

body {
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.6;
	height: 100%;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.navigation-list__item--active {
	text-decoration: none;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.page-header {
	background-color: rgba(17, 18, 96, 0.84) 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 150px;
	padding: 10px;
}

.name-display {
	color: rgba(17, 18, 96, 0.84);
	font-family: 'Birthstone', cursive;
	font-weight: 900;
	font-size: 50px;
	margin-top: 5px;
	margin-left: 20px;
}
.page-header__item {
	margin-left: 10px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
	height: 75px;
	width: 200px;
}

.page-header .page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.profile {
	max-width: 1000px;
	height: 600px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	width: 400px;
	height: 500px;
	margin-right: 40px;
	margin-top: 25px;
	border-radius: 10%;
}

.profile__portrait:last-child {
	margin-top: 50px;
}

.page-footer {
	position: relative;
	width: 100%;
	height: 200px;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	position: static;
}

.social-media {
	margin-top: 15px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-family: noto sans jp, sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin-top: 25px;
	color: lightgray;
}

a {
	color: lightgray;
}

span {
	font-style: italic;
	font-weight: bold;
}

a:visited {
  color: navy;
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
  color: red;
}

.about {
	margin: 15px;
}

.about__me {
	text-decoration: underline;
}

.my-work {
	text-align: center;
	text-decoration: underline;
}

.project-img {
	height: 400px;
	width: 600px;
}

.skills {
	display: -ms-grid;
	display: grid;
	width: 50%;
	text-align: center;
	color: lightgray;
}

a.my-code {
	color:lightgray;
}

.my-code:hover {
	-webkit-transition: font-size 0.5s ease-in-out;
	-o-transition: font-size 0.5s ease-in-out;
	transition: font-size 0.5s ease-in-out;
	font-size: 16px;
	color: lightgray;
}

.my-code:hover {
	font-size: 20px;
	color: coral;
}

.my-link {
	color: black;
}

#my-link {
	color: navy;
}

.grid__item {
	display: inline-block;
	width: 33%;
}

@supports (display: grid) {
.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin: 0px;
	}
}

.grid__item {
	background-color: rgba(17, 18, 96, 0.84) 50%;;
	width: auto;
	min-height: auto;
	margin: 10px;
}

.grid__item a, p {
	color: lightgray;
	font-size: 18px;
}

.grid__item h2 {
	font-size: 24px;
	font-weight: bold;
}

.skills-exp {
	margin-top: 50px;
}

h3 {
	text-align: center;
	font-family: roboto, sans-serif;
}

.my-skills {
	display: flex;
	flex-direction: row;
	width: 110vw;
	transform: translateX(-5%);
	height: 150px;
	margin-top: 50px;
	margin-left: 0px;
}
  
.my-skills span {
	background-color: rgba(17, 18, 96, 0.84) 50%;
	display: block;
	margin-bottom: 0px;
	width: 5850px;
	height: 200;
	position: absolute;
	overflow: hidden;
	animation: marquee 20s linear infinite;
}

.my-skills div {
	float: left;
	height: 100px;
	margin: auto 50px;
}

.my-skill-item img {
	height: 65px;
	margin: auto;
	margin-top: 20px;
}

@keyframes marquee {
	0% {
		left: 0;
}
100% {
	left: -3000px;
	}
}