:root {
  --primary-color: lightblue;
  --secondary-color: navy;
  --third-color: red;
  --fourth-color: lightgray;
}

:root {
  --font-family1: roboto, sans-serif;
  --font-family2: noto sans jp, sans-serif;
  --font-weight1: 300;
  --font-weight2: 200;
  --font-size1: 16px;
}

body {
  background-color: var(--primary-color);
}

body {
  font-family: var(--font-family1);
  font-weight: var(--font-weight1);
  font-size: var(--font-size1);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  margin-top: 50px;
  border-radius: 50%;
}

.profile__portrait:last-child {
  margin-top: 50px;
}

.page-footer {
  position: relative;
  width: 100%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-family: var(--font-family2);
  font-size: var(--font-size1);
  font-weight: var(--font-weight2);
}

a {
  color: var(--secondary-color);
}

span {
  font-style: italic;
  font-weight: bold;
}

.my-code {
  color: var(--secondary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--third-color);
}

.about {
  margin: 15px;
}

.about__me {
  text-decoration: underline;
}

.my-work {
  text-align: center;
  text-decoration: underline;
}

.skills {
  display: grid;
  width: 50%;
  text-align: center;
}

.my-code:hover {
  transition: font-size 0.5s ease-in-out;
  font-size: 16px;
  color: var(--secondary-color);
}

.my-code:hover {
  font-size: 24px;
  color: coral;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: coral;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s;
}

.input-box {
  margin: 15px;
}

.contact-info {
  margin: 15px;
}

.my-link {
  color: black;
}

#my-link {
  color: var(--secondary-color);
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 5px;
  }
}

.grid__item {
  background-color: var(--fourth-color);
  width: auto;
  min-height: auto;
  margin: 10px;
}

.send-message {
  border: none;
  font-family: inherit;
  background-color: var(--fourth-color);
  color: black;
  text-decoration: blink;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.send-message:hover,
.send-message:focus {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
