
body, html {
	background-image: linear-gradient(
        to bottom,
        silver,
    	rgba(17, 18, 96, 0.84) 50%
    );
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.6;
	height: 100%;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-navigation {
	display: flex;
	justify-content: right;
	align-items: center;
}

.navigation-list__item {
	color: rgba(17, 18, 96, 0.84);
}

.navigation-list__item--active {
	text-decoration: none;
	color:rgba(17, 18, 96, 0.84)
}

.navigation-list li {
	display: inline-block;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
}

.page-header {
	background-color: rgba(17, 18, 96, 0.84) 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 150px;
	padding: 10px;
}

.name-display {
	color: rgba(17, 18, 96, 0.84);
	font-family: 'Birthstone', cursive;
	font-weight: 900;
	font-size: 50px;
	margin-top: 5px;
	margin-left: 20px;
}
.page-header__item {
	margin-left: 10px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
	height: 75px;
	width: 200px;
}

.page-header .page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: auto;
	height: 200px;
}

.social-media {
	margin-top: 5px;
	margin-bottom: 5px;
}

.social-media img {
	height: 30px;
	width: auto;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-family: noto sans jp, sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin-top: 25px;
	color: lightgray;
}

h3 {
	font-family: noto sans jp, sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: lightgray;
} 

a {
	color: lightgray;
}

a:visited {
  color: navy;
}

a:hover, a:focus {
	text-decoration: none;
}

.profile {
	max-width: 750px;
	width: auto;
	height: 100%;
    margin: 0 auto;
}

.profile__portrait {
	float: left;
	width: 215px;
	max-width: 100%;
	height: 300px;
	min-height: auto;
	margin-right: 40px;
	margin-top: 75px;
	border-radius: 35%;
}

.my-resume {
	margin-bottom: 2px;
	text-align: center;
	margin-right: 30px;
}

a.resume {
	color: lightgray;
}

.about {
	margin: auto;
	width: 80%;
}

.about__me {
	text-decoration: underline;
}

.my-work {
	text-align: center;
	text-decoration: underline;
}

.web-skills {
    margin: auto;
	width: 80%;
}

.web-skills h1 {
	text-decoration: underline;
}

.skillset {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 80%;
	min-width: auto;
	position: relative;
	margin-top: 25px;
	padding: 10px
}

.skills {
	display: -ms-grid;
	display: grid;
	width: 100%;
	color: lightgray;
}

.skills h3 {
	text-align: left;
	font-style: none;
}

span {
	font-weight: bold;
}

.my-code, .my-code a {
	color:lightgray;
	text-align: center;
	font-size: 18px;
}

.my-code, .my-code a:hover {
	-webkit-transition: font-size 0.5s ease-in-out;
	-o-transition: font-size 0.5s ease-in-out;
	transition: font-size 0.5s ease-in-out;
	font-size: 24px;
	color: coral;
}

.grid__item {
	width: auto;
	float: left;
}

@supports (display: inline-grid) {
.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	width: 85%;
	min-width: auto;
	position: relative;
	margin: auto;
	margin-top: 25px;
	border: 3px solid lightgray;
	padding: 10px;
	}
}

.grid__item {
	background-color: rgba(17, 18, 96, 0.84) 50%;
	border-bottom: 2px solid lightgray;
	width: auto;
	min-height: auto;
	margin: 10px;
	margin-right: 20px;
}

.project-img {
	height: auto;
	max-height: 265px;
	max-width: 100%;
} 

.grid__item a, p {
	color: lightgray;
	font-size: 18px;
}

.grid__item h2 {
	font-size: 24px;
	font-weight: bold;
}

.grid hr {
	margin-bottom: 0px;
}

.skills-exp {
	margin-top: 50px;
}

hr {
	margin-bottom: auto;
}

h3 {
	text-align: center;
	font-family: roboto, sans-serif;
}

.my-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 50%;
	min-width: auto;
	position: relative;
	margin: auto;
	margin-top: 25px;
	border: 3px solid lightgray;
	padding: 10px;
}

.my-skill-item {
	opacity: .5;
	align-self: auto;
}

.my-skill-item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 3px;
	height: 75px;
	min-height: auto;
	width: 75px;
	max-width: 100%;
}
 